h1{
    display:flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(142, 237, 40);
    justify-content: center;
    font-size: 60px;
    
}

.form-container{
    display:flex;
    justify-content: center;

}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 500px;
    font-size: 20px;
    padding:10px;
    margin:10px 0px;
    border-radius: 10px;
}

#submit{
    width:200px;
    background-color:RGB(94,284,92);
    font-weight: 700;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}